<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Card Collection
        |
        <button mat-button color="primary" (click)="clearFilter()">All Cards</button>
        <button mat-button color="primary" (click)="filterByCollection()">Collection Only</button>
        |
        <button mat-button color="primary" (click)="filterByHero()">Hero</button> 
        <button mat-button color="primary" (click)="filterByCreep()">Creep</button>
        <button mat-button color="primary" (click)="filterBySpell()">Spell</button>
        <button mat-button color="primary" (click)="filterByImprovement()">Improvement</button>
        |
        <button mat-button color="primary" (click)="filterByRed()">Red</button> 
        <button mat-button color="primary" (click)="filterByBlue()">Blue</button>
        <button mat-button color="primary" (click)="filterByGreen()">Green</button>
        <button mat-button color="primary" (click)="filterByBlack()">Black</button>
      </mat-card-title>    
    </mat-card-header>
    <mat-card-content>
      <!--Credit to the answer here: https://stackoverflow.com/questions/44995971/creating-grid-of-cards-dynamically-using-angular-material-2-->
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="flex-start">
        <div fxFlex="18%" fxFlex.xl="11%" fxFlex.lg="15%" fxFlex.md="20%" fxFlex.sm="48%" fxFlex.xs="100%" *ngFor="let i of filteredCards">
          <mat-card style="margin-bottom:16px">
            <mat-card-content style="margin-bottom:0px">
            <img mat-card-image [src]="i.image">
          </mat-card-content>
            <mat-card-actions style="padding-top: 0px; text-align: center">
                <ng-container *ngIf="i.owned === 'true'; then removeButton; else addButton"></ng-container>
                <ng-template #addButton><button mat-button color="primary" (click)="updateCardOwnership(i._id, i.owned)">Add to Collection</button></ng-template>
              <ng-template #removeButton><button mat-button color="warn" (click)="updateCardOwnership(i._id, i.owned)">Remove from Collection</button></ng-template>
            </mat-card-actions>
          </mat-card>
        </div>
      </div >
    </mat-card-content>
  </mat-card>
</div>
