<h1 mat-dialog-title>Add Game Record</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field class="full-width">
      <input matInput placeholder="Date - MM/DD" [(ngModel)]="data.newDate">
    </mat-form-field>
  </p>
  <p>  
    <mat-form-field class="full-width">
        <mat-select matInput placeholder="Game Format" [(value)]="data.newMatchType">
            <mat-option value="Constructed">Constructed</mat-option>
            <mat-option value="Draft">Draft</mat-option>
        </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <input matInput placeholder="Deck Played" [(ngModel)]="data.newDeck">
    </mat-form-field>
  </p>
  <p>   
    <mat-form-field class="full-width">
      <input matInput placeholder="Opponent's Deck" [(ngModel)]="data.newOppDeck">
    </mat-form-field>
  </p>    
  <p>  
    <mat-form-field class="full-width">
      <mat-select placeholder="Outcome" [(value)]="data.newOutcome">    
        <mat-option value="Win">Win</mat-option>
        <mat-option value="Lose">Lose</mat-option>
        <mat-option value="Draw">Draw</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>  
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Game Notes" [(ngModel)]="data.newNotes"></textarea>
    </mat-form-field>
  </p>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCreateClick()" cdkFocusInitial color="primary">Create</button>
  <button mat-button (click)="onCancelClick()" color="warn">Cancel</button>
</div>
