<h1 mat-dialog-title>Edit Game</h1>
<div mat-dialog-content>
  <p>
    Date:    
    <mat-form-field>
      <input matInput placeholder={{data.oldDate}} [(ngModel)]="data.newDate">
    </mat-form-field>
  </p>
  <p>
    Match Type:    
    <mat-form-field>
      <input matInput placeholder={{data.oldMatchType}} [(ngModel)]="data.newMatchType">
    </mat-form-field>
  </p>
  <p>
    Deck:    
    <mat-form-field>
      <input matInput placeholder={{data.oldDeck}} [(ngModel)]="data.newDeck">
    </mat-form-field>
  </p>
  <p>
    Opp. Deck:    
    <mat-form-field>
      <input matInput placeholder={{data.oldOppDeck}} [(ngModel)]="data.newOppDeck">
    </mat-form-field>
  </p>    
  <p>
    Outcome:    
    <mat-form-field>
      <input matInput placeholder={{data.oldOutcome}} [(ngModel)]="data.newOutcome">
    </mat-form-field>
  </p>
  <p>
    Notes:    
    <mat-form-field>
      <input matInput placeholder={{data.oldNotes}} [(ngModel)]="data.newNotes">
    </mat-form-field>
  </p>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onUpdateClick()" cdkFocusInitial>Update</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
